MIHIS_FIRMAS_API_KEY=TU_API_KEY_REAL
MIHIS_FIRMAS_SISTEMA=LICITACIONES
MIHIS_FIRMAS_BASE_URL=https://mihis.hospitalrancagua.cl/mihis_calidad/integraciones/api/firmas
MERCADO_PUBLICO_TICKET=TU_TICKET_MERCADO_PUBLICO
MERCADO_PUBLICO_CODIGO_ORGANISMO=7374
VALOR_UTM_CLP=68647
